<!DOCTYPE html>
<html lang="ja">
<head>
	<meta http-equiv="content-type" content="text/html;charset=UTF-8" />
	<title>jQuery Visualize サンプル1</title>
	<link href="/css/basic.css" type="text/css" rel="stylesheet" />
	<link href="/css/visualize.css" type="text/css" rel="stylesheet" />
	<link href="/css/visualize-dark.css" type="text/css" rel="stylesheet" />
	<script type="text/javascript" src="http://filamentgroup.github.com/EnhanceJS/enhance.js"></script>	
	<script type="text/javascript" src="/js/excanvas.js"></script>	
	<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.4.4/jquery.min.js"></script>	
	<script type="text/javascript" src="/js/visualize.jQuery.js"></script>	


  <script type="text/javascript">
$(function(){
  $(".submit").click(function(){
    var setuzokusaki = "/" + this.id
    var foo = $("#foo").val();
    $.ajax({
      type: "POST",
      url: setuzokusaki,
      dataType: "text", //dataTypeをちゃんと指定する
      data: {
        foo: foo
      },
      //以下、コールバック関数で戻り値を受け取る
      success: function(html) {
        $('#result').empty();
        $('#listbox').empty();
        $('.visualize').remove();

        if(setuzokusaki == "/text"){
          $("#listbox").append(html);
          $('table').visualize();
        }else{
          $('#result').append(html);
        }

      },
      error: function() {
        $('#result').append('error');
      }
    });
  });
});
  </script>
</head>
<body>
  <!--データ入力フォーム-->
  <textarea id="foo" cols="40" rows="4"name="text" value=""></textarea>
  <br />
  <input type="button" class="submit" id="post" value="文字数をカウントする">
  <br />
  <input type="button" class="submit" id="most" value="もっとも多い文字を返す">
  <br />
  <input type="button" class="submit" id="text" value="もっとも多い単語を返す">
  <br />
  <input type="button" class="submit" id="add_to_textfile" value="テキストファイルに追加する">
  <p id="result"></p>

  <table id="listbox" border=1>
  
  </table>


</body>
</html>
